body {
    font-family: Arial, sans-serif;
    background: #F79B1C;
    background: -webkit-linear-gradient(bottom right, #F79B1C, #5264CE);
    background: -moz-linear-gradient(bottom right, #F79B1C, #5264CE);
    background: linear-gradient(to top left, #F79B1C, #5264CE);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  
  h1 {
    text-align: center;
    color:black;
    margin-top: 50px;
  }
  
  form {
    background: #7FE9AB;
    background: -webkit-linear-gradient(bottom right, #7FE9AB, #D4ADFA);
    background: -moz-linear-gradient(bottom right, #7FE9AB, #D4ADFA);
    background: linear-gradient(to top left, #7FE9AB, #D4ADFA);
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
 input
   {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="date"]{
    width:95%;
  }
  input[type="submit"]{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: darkred;
  }
  table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: darkred;
    color:white;
}

th {
    background-color: darkred;
 color: white;
}
nav {
    background-color: #555;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: darkred;
}
.loginform
{
    margin-top: 200px;
}
header{
    color: white;
}
.employee-heading
{
    color:white;
}
